[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
django = "==4.2.7"
channels = "==4.0.0"
daphne = "==4.0.0"
channels-redis = "==4.1.0"
django-environ = "==0.11.2"
gunicorn = "==21.2.0"
uvicorn = "==0.24.0"
whitenoise = "==6.6.0"
psycopg2 = "==2.9.9"
dj-database-url = "==2.1.0"
django-extensions = "==3.2.3"

[dev-packages]
pytest-django = "==4.6.0"
selenium = "==4.9.1"
pytest-splinter = "==3.3.2"
pytest-factoryboy = "==2.6.0"
pytest-mock = "==3.12.0"
