{% extends "base.html" %}
{% load static %}

{% block customStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'messenger/style/home.css' %}"/>
{% endblock %}

{% block content %}
    <div class="home-container">
        <h1 class="home-title">Gingembre</h1>

        <form action="/" method="post" class="home-form">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Choisir un pseudo:</label>
            {{ form.username }}
            {% for error in form.username.errors %}
                <div class="home-form-error">{{error}}</div>
            {% endfor %}
            <input type="submit" value="Entrer" class="button home-form-submit">
        </form>
    </div>
{% endblock %}
