{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block customStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'messenger/style/index.css' %}"/>
{% endblock %}

{% block content %}
    <div class="user-index-container">
        <header class="user-index-header">
            <p class="user-index-greeting">{% translate 'Hello' %} {{current_user_name}}</p>
        </header>

        <section x-data="$store.indexData.conversations" class="user-list">
            <template x-if="$store.indexData.conversations.length != 0">
                <template x-for="data in Object.values($store.indexData.conversations)" >
                    <a :href="data.url" class="user-list-link">
                        <div class="user-link-name">
                            <span x-text="data.contact_name"></span>

                            <template x-if="data.notification_count != 0">
                                <div x-data="{ count: data.notification_count }" class="notification-container">
                                    <p x-text="data.notification_count"></p>
                                </div>
                            </template>
                        </div>
                        <svg class="user-link-picto"><use xlink:href="{% static 'messenger/img/next-arrow.svg' %}#picto-next-arrow"></use></svg>
                    </a>
                </template>
            </template>
            <template x-if="$store.indexData.conversations.length === 0" x-cloak>
                <p class="empty-user-list">{% translate 'NoOtherUser' %}</p>
            </template>
        </section>
    </div>

    {{ current_user_id|json_script:"current_user_id" }}

    <script src="{% static 'messenger/js/index.js' %}"></script>
{% endblock %}
