{% extends "base.html" %}
{% load static %}

{% block content %}
<header class="main-header">
    <p>Current user : {{current_user_name}}</p>
</header>

<section class="user-list">
    {% if user_list %}
        {% for user in user_list %}
            <a href={% url 'get_conversation' username=user.username %} class="user-list-link">
                <div>{{user.username}}</div>
            </a>
        {% endfor %}
    {% else %}
        <p>No user yet.</p>
    {% endif %}
</section>
{% endblock %}
