{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block customStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'messenger/style/index.css' %}"/>
{% endblock %}

{% block content %}
    <div class="user-index-container">
        <header class="user-index-header">
            <p class="user-index-greeting">{% translate 'Hello' %} {{current_user_name}}</p>
        </header>

        <section class="user-list">
            {% if user_list %}
                {% for user in user_list %}
                    <a href={% url 'get_conversation' username=user.username %} class="user-list-link">
                        <div class="user-link-name">{{user.username}}</div>
                        <svg class="user-link-picto"><use xlink:href="{% static 'messenger/img/next-arrow.svg' %}#picto-next-arrow"></use></svg>
                    </a>
                {% endfor %}
            {% else %}
                <p class="empty-user-list">{% translate 'NoOtherUser' %}</p>
            {% endif %}
        </section>
    </div>
{% endblock %}
