:root {
  --app-background: #d5ffa3;
  --page-background: #f8fff0;
  --secondary-color: #769FB6;
  --form-placeholder-color: #5B5B66;

  --border-color: lightgray;
  --error-color: tomato;
  --button-backgound: lightblue;
  --notification-color: tomato;

  --message-from-current-user: lightgray;
  --message-from-contact: darkgray;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--app-background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

/* Utility classes */

.button {
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  background-color: var(--button-backgound);
}

.text-field {
  border: 1px solid var(--border-color);
  padding: 10px;
}

/* fonts  */

/* source : https://www.dafont.com/fr/philly-sans.font */

@font-face {
  font-family: 'PhillySans';
  src: url('../fonts/PhillySans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* source : https://fonts.google.com/specimen/Montserrat */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}