:root {
  --app-background: #d5ffa3;
  --page-background: #f8fff0;

  --picto-color: #769FB6;

  --title-color: darkgreen;
  --border-color: lightgray;
  --error-color: red;
  --button-backgound: lightblue;

  --list-border: #188FA7;
  --message-from-current-user: lightgray;
  --message-from-contact: darkgray;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--app-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  border: 1px solid var(--border-color);
  margin-top: 20px;
  padding: 10px;
}

/* Utility classes */

.button {
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  background-color: var(--button-backgound);
}

.text-field {
  border: 1px solid var(--border-color);
  padding: 10px;
}