.home-container {
  padding-top: 50px;
}

.home-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  #id_username {
    @include text-field;
    margin-top: 10px;
  }
}

.home-form-submit {
  @include button;
  margin-top: 20px;
}

.home-form-error {
  color: red;
  margin-top: 10px;
}