.user-index-container {
  width: 100%;
  max-width: 850px;

  align-self: flex-start;
  margin: 20px 10px 0 10px;
  padding: 10px;
  background-color: var(--page-background);

  @media (min-width: 500px) {
    width: 80%;
    margin: 50px 0 0 0;
    padding: 30px;
  }
}

.user-index-header {
  margin-top: 20px;
  padding: 10px;
}

.user-index-greeting {
  text-align: center;
}

.user-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-list-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  border: 2px solid var(--border-color);
  border-radius: 5px;

  padding: 5px;
  margin-bottom: 15px;

  @media (min-width: 500px) {
    margin-bottom: 20px;
  }
}

.user-link-name {
  margin-left: 15px;
  display: flex;
}

.user-link-picto {
  height: 100%;
  width: 40px;
  color: var(--secondary-color);
}

.empty-user-list {
  text-align: center;
}
