.user-list {
  border: 1px solid lightseagreen;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.user-list-link {
  border: 1px solid orange;
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
}