.user-list {
  border: 1px solid var(--list-border);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.user-list-link {
  border: 1px solid var(--border-color);
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
}