{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% translate 'MainTitle' %}{% endblock %}</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{% static 'messenger/style/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'messenger/style/base.css' %}" />

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
  <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg" color="#5bbad5' %}">
  <link rel="manifest" href="{% static 'icons/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#d5ffa3">
  <meta name="theme-color" content="#d5ffa3">

  {% block customStyles %}
  {% endblock %}
</head>

<body>
  <main class="main-container">
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>