{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Gingembre{% endblock %}</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{% static 'messenger/style/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'messenger/style/base.css' %}" />
  {% block customStyles %}
  {% endblock %}
</head>

<body>
  <main class="main-container">
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>